html {
    height: 100%;
    background-color: rgb(32, 32, 32);
}
body {
    text-align: center;

    color: rgb(255, 255, 255);
    
}
header {
    color: rgb(238, 119, 208);
    text-align: center;
    text-shadow: 1px 1px rgb(0, 140, 255);
    font-size: 40px;
    font-family: 'Permanent Marker', cursive;
}
h1 {
    color: rgb(238, 119, 208);
    text-align: center;
    text-shadow: 1px 1px rgb(0, 140, 255);
    font-family: 'Permanent Marker', cursive;
}

a {
    color: inherit;
    text-decoration: inherit;
}

p {
   font-family: Arial, Helvetica, sans-serif; 
}