html {
  background-color: #202020;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  user-select: none;
  color: #e6e6e6;
}

html::-webkit-scrollbar {
  display: none;
}

html,
body,
#root {
  overflow-x: hidden;
  height: 100%;
}

.parent {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes gradient-move {
  0% {
    background-position-x: 0%;
  }
  50% {
    background-position-x: 100%;
  }
  100% {
    background-position-x: 0%;
  }
}

p {
  width: 75%;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  letter-spacing: 0.2px;
  color: #e6e6e6;
  line-height: 1.9;
  font-size: 1.15rem;
  cursor: default;
  user-select: none;
}
