@import url("https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");
@font-face {
  font-family: Outrun;
  src:
    local("Outrun"),
    url(./assets/fonts/Outrun.otf) format("woff");
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
